#version=DEVEL
install
url --url=http://ftp.iij.ad.jp/pub/linux/centos/6.5/os/x86_64/
lang ja_JP.UTF-8
keyboard jp106
network --onboot yes --device eth0 --bootproto dhcp --ipv6 auto
rootpw  --plaintext vagrant
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone --utc Asia/Tokyo
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"
reboot


zerombr
clearpart --drives=sda --all
part /boot --fstype=ext4 --asprimary --size=512
part swap --asprimary --size=2048
part / --fstype=ext4 --asprimary --grow --size=1


repo --name="CentOS" --baseurl=http://ftp.iij.ad.jp/pub/linux/centos/6.5/os/x86_64/ --cost=100
%packages --nobase
@core
openssh-clients
rsync
wget
%end


%post
USER_NAME=vagrant
USER_PASSWORD=vagrant
USER_ID=501
USER_GROUP=${USER_NAME}
USER_HOME=/home/${USER_NAME}
USER_KEY_URL='https://raw.github.com/mitchellh/vagrant/master/keys/vagrant.pub'

echo "Updating packages ..."
/usr/bin/yum -y update

echo "Setting sudoers ..."
echo "Defaults:%wheel !requiretty" >> /etc/sudoers.d/wheel
echo "%wheel ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/wheel
chmod 0440 /etc/sudoers.d/wheel

echo "Creating users ..."
/usr/sbin/groupadd -g ${USER_ID} ${USER_GROUP}
/usr/sbin/useradd ${USER_NAME} -u ${USER_ID} -g ${USER_GROUP} -G wheel
echo ${USER_PASSWORD}|passwd --stdin ${USER_NAME}

echo "Installing users keys ..."
mkdir -pm 700 ${USER_HOME}/.ssh
wget --no-check-certificate ${USER_KEY_URL} -O ${USER_HOME}/.ssh/authorized_keys
chmod 600 ${USER_HOME}/.ssh/authorized_keys
chown -R ${USER_NAME}:${USER_GROUP} ${USER_HOME}/.ssh

%end
